<% layout('layouts/boilerplate')%>

<div pt-3 style="padding-top: 1cm;">
    <h1 style="font-family:  'sans-serif'; text-align: center;  " class="mx-2"><%= page.headings %></h1>
    <br>
    <div class="mx-4">
        <article>
    <p style="margin-left: 1cm;"><%= page.content  %></p>
        </article>
    </div>
</div>
