<% layout('layouts/boilerplate')%>

<div style="min-height: 100%;margin-bottom: 400px;">
    <h1 style="padding-top: 1cm;">Welcome to Blog Site!! </h1>
    <br>
    <p style="background-image: url('background.jpg'); font-size:2em">This website contains various articles about Enterpreneurship and  Startups</p>
    <p style="background-image: url('background.jpg'); font-size:2em">Use the navigation bar to read various articles</p>
        
</div>

